<p>
	Your assistant has received your request to schedule the meeting and will send a meeting request via email shortly.
</p>

<p>
	Average wait times for our assistants to send out meeting requests is 1 hour.  
</p>
<p>
	Thanks for your patience!
</p>