<p>
	Thanks for signing up!
</p>
<p>
	In order to complete your signup, you need to click on the following link
</p>

<p>
	<%=verify_user_url(:id => @user.id, :confirmation_code => @user.confirmation_code)%>
</p>

<p>
	Welcome to <a href = "http://www.zenlike.me">Zenlike.me</a>
</p>

