<p>
	Thanks for Having us coordinate the meeting!
	We've scheduled the meeting with <%= @meeting_request.participants%> for <%= @meeting_request.start_date_time%>
</p>
<p>
	Meeting invites have been sent sent out to all of the participants and we've marked it in your calendar.
</p>
