<h1>Signing up for "<%= @subscription.plan.name %>"</h1>
<p>Includes <strong><%= @subscription.plan.credits %> credits</strong> for only <strong><%= number_to_currency @subscription.plan.price %></strong> per month!</p>
<%=render 'credit_card_form'%>
