<div id="welcome" class="hero-unit span8">
  <h2>Zenlike plans</h2>
  <p><em>*All prices are based on a monthly subscription</em></p>
  <%if current_user.subscription%>
  	<p><em>*Your current subscription is <%=current_user.subscription.plan.name%></em></p>
  <%end%>

</div>

<div class="row span8 plans">
  <div class="span2 well">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="unstyled">
      <li>10 free meeting coordinations a month</li>
    </ul>
    <h3>$9.99</h3>
    <%= link_to 'Subscribe', edit_subscription_path(current_user.subscription, :plan_name => 'Silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="unstyled">
      <li>50 free meeting coordinations a month</li>
    </ul>
    <h3>$19.99</h3>
    <%= link_to 'Subscribe', edit_subscription_path(current_user.subscription, :plan_name => 'Gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>Elite</h2></div>
    <ul class="unstyled">
      <li>Unlimited meeting coordinations + virtual assistant</li>
    </ul>
    <h3>$199.99</h3>
    <%= link_to 'Subscribe', edit_subscription_path(current_user.subscription, :plan_name => 'Platinum'), :class => 'btn btn-primary' %> 
  </div>
<br/><br/>

</div>